
@model Atendimento.Hospitalar.Models.Paciente
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Paciente</h4>
        <hr />

        @Html.Label("Data de Nascimento")
        <div>
            @Html.EditorFor(model => model.dtNascimento, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.dtNascimento, "", new { @class = "text-danger" })
        </div>

        @Html.Label("Tipo de Convenio")
        <div>
            @Html.EnumDropDownListFor(model => model.TipoConveniado, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.TipoConveniado, "", new { @class = "text-danger" })
        </div>

        @Html.Label("Nome do Paciente")
        <div>
            @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
        </div>
        <br />
        <div class="col-md-10">
            <input type="submit" value="Gravar" class="btn btn-primary" />
            @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-danger" })
        </div>
    </div>
}
